body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header{
    background-color: black;
    padding: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}

.logo img{
    height: 35px;
}

.menu ul{
    display: flex;
    list-style-type: none;
}

menu li{
    margin-right: 20px;
    color: white;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.li{
    padding-right: 17px;
    background: rgb(158, 22, 22);
    /* border: 1px solid rebeccapurple; */
    border-radius: 5px;
    color: white;
    margin-right: 7px;
    padding: 8px;
}
.jumbotron{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('jumbotron.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-decoration: none;
    
}

.jumbotron h1{
    font-size: 40px;
    white-space: nowrap;
    text-decoration: none;
    
   

}

.jumbotron p{
    font-size: 20px;
    white-space: nowrap;
    margin-left: 70px;
    margin-bottom: 25px;
    
}

.now{
    font-size: 20px;
    color: white;
    background-color: red;
    border-color: transparent;
    border-radius: 15%;
    width: 100px;
    height: 50px;
    white-space: nowrap;
    margin-left: 40px;
   
}
/* .now:hover{
    cursor: pointer;    
} */

.footer{
    text-align: center;
    height: 20px;
}

.movies{
    text-align: center;
    font-size: 30px;
    background-color: black;
}
a{
    text-decoration: none   ;
    color: white;
}
